<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create a serie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h2><span th:text="#{serie.create}"/></h2>

<a href="/" class="btn btn-info">Back home</a>
<p/>

<form action="#" th:action="@{/ui/user/series/addserie}" th:object="${newserie}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p><input type="submit" class="btn btn-dark" value="Create" /> <input type="reset" value="Reset" class="btn btn-danger"/></p>
</form>
</body>
</html>