<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div sec:authorize="isAnonymous()">
      <a href="/ui/user/create">Create a user</a><br/>
      <a href="login">Login</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        Welcome <span sec:authentication="name"></span>
        <table>
            <thead>
            <tr>
                <th> Name </th>
                <th> Go to </th>
                <th> Start session </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${series.empty}">
                <td colspan="2"> No series... </td>
            </tr>
            <tr th:each="serie : ${series}">
                <td><span th:text="${serie.name}"> Title </span></td>
                <td><a th:href="@{/ui/user/series/questionseriedetails/{id}(id = ${serie.id})}" th:text="'Go to ' +  ${serie.id}">Go to</a></td>
                <td><a th:href="@{/ui/user/session/startsession(seriesId = ${serie.id})}" th:text="'Go to ' +  ${serie.id}">Go to</a></td>
            </tr>
            </tbody>
        </table>
        <a href="/ui/user/series/addserie">addserie</a>
    </div>
</body>
</html>