<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Learning-app</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <span sec:authorize="isAnonymous()">
      <h2>Welcome, please log in or register first</h2>
      <a href="/ui/user/create">Register yourself as a user</a><br/>
      <a href="login">Login</a>
    </span>

    <span sec:authorize="isAuthenticated()">
        <h2>Welcome <span sec:authentication="name"></span></h2>
        <table class="table">
            <thead>
            <tr>
                <th> Name series</th>
                <th> Go to series </th>
                <th> Start a new session </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${series.empty}">
                <td colspan="2"> No series... </td>
            </tr>
            <tr th:each="serie : ${series}">
                <td><span th:text="${serie.name}"> Title </span></td>
                <td><a th:href="@{/ui/user/series/questionseriedetails/{id}(id = ${serie.id})}" th:text="'Edit the serie ' +  ${serie.id}">Go to</a></td>
                <td><a th:href="@{/ui/user/session/startsession(seriesId = ${serie.id})}" th:text="'Start a question-session for ' +  ${serie.id}">Go to</a></td>
            </tr>
            </tbody>
        </table>
        <p/>
        <p/>
        <a href="/ui/user/series/addserie">Configure a new serie of questions</a>
        -
        <a href="/logout">Log out</a>
    </span>

</body>
</html>