<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Learning-app</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<span sec:authorize="isAnonymous()">
      <h2>Welcome, please log in or register first</h2>

<br/>
            <a href="/ui/user/create" class="btn btn-info">Register yourself as a user</a>
-
           <a href="login" class="btn btn-info">Login</a>


    </span>

<span sec:authorize="isAuthenticated()">
        <h2><span th:text="#{greeting}"/> <span sec:authentication="name"></span></h2>
        <table class="table">
            <thead>
            <tr>
                <th> Name series</th>
                <th> </th>
                <th>  </th>
                <th>  </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${series.empty}">
                <td colspan="2"> No series... </td>
            </tr>
            <tr th:each="serie : ${series}">
                <td><span th:text="${serie.name}"> Title </span></td>
                <td><a th:href="@{/ui/user/series/questionseriedetails/{id}(id = ${serie.id})}"
                       th:text="'Edit the serie '"
                       class="btn btn-primary">Go to</a></td>
                <td><a th:href="@{/ui/user/session/startsession(seriesId = ${serie.id})}"
                       th:text="'Start a question-session '"
                       class="btn btn-primary">Go to</a></td>
                <td><a th:href="@{/ui/user/series/removeserie/{seriesId}(seriesId = ${serie.id})}"
                       class="btn btn-warning">Remove serie</a></td>
            </tr>
            </tbody>
        </table>
        <p/>
        <p/>
        <a href="/ui/user/series/addserie" class="btn btn-info"> Configure a new serie of questions</a>
        -
        <a href="/logout" class="btn btn-info">Log out</a>
    </span>

</body>
</html>