<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <thead>
    <tr>
        <th> User </th>
        <th> Mail </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${series.empty}">
        <td colspan="2"> No series... </td>
    </tr>
    <tr th:each="serie : ${series}">
        <td><span th:text="${serie.name}"> Title </span></td>
        <td><span th:text="${serie.id}"> Author </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>