<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Serie-details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<h2>Serie with name "<span th:text="${currentseries.name}"/>"</h2>

<table class="table">
    <thead>
    <tr>
        <th> Question</th>
        <th> Answers</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${questions.empty}">
        <td colspan="2"> No questions yet...</td>
    </tr>
    <tr th:each="question : ${questions}">
        <td><span th:text="${question.question}"> Question </span></td>
        <td><span th:text="${question.answers}"> Answer </span></td>
    </tr>
    </tbody>
</table>
<p/>
<h3>Add a new question:</h3>

<form action="#" th:action="@{/ui/user/series/addquestion/{id}(id = ${currentseries.id})}"
      th:object="${newquestion}" method="post">
    <div class="form-group">
    <p>Question: <input type="text" th:field="*{question}"/></p>
    <p>Answers: <input type="text" th:field="*{answers}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </div>
</form>


<a href="/">Back home</a>

</body>
</html>