<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Serie-details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<h2><span th:text="#{questionseries.nameindication}"> "<span th:text="${currentseries.name}"/>"</h2>

<table class="table">
    <thead>
    <tr>
        <th><span th:text="#{questionseries.questions}"/></th>
        <th><span th:text="#{questionseries.answers}"/></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${questions.empty}">
        <td colspan="2"> <span th:text="#{questionseries.noquestionsyet}"/></td>
    </tr>
    <tr th:each="question : ${questions}">
        <td><span th:text="${question.question}"> <span th:text="#{questionseries.questions}"/> </span></td>
        <td><span th:text="${question.answers}"> <span th:text="#{questionseries.answers}"/> </span></td>
    </tr>
    </tbody>
</table>
<p/>
<h3><span th:text="#{questioneseries.add.question}"/>:</h3>

<form action="#" th:action="@{/ui/user/series/addquestion/{id}(id = ${currentseries.id})}"
      th:object="${newquestion}" method="post">
    <div class="form-group">
    <p><span th:text="#{questionseries.questions}"/>: <input type="text" th:field="*{question}"/></p>
    <p><span th:text="#{questionseries.answers}"/>: <input type="text" th:field="*{answers}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </div>
</form>


<a href="/">Back home</a>

</body>
</html>