<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h3>Next question: <span th:text="${questionandanswer.question}"/></h3>


<p th:if="${feedback != null && !feedback.isValid()}"
th:text="'Previous answer was wrong, must be ' + ${feedback.getFeedback()}"
   class="alert alert-danger"/>

</p>
<p th:if="${feedback != null && feedback.isValid()}"
   class="alert alert-success">
    Previous answer was OK
</p>

(<span th:text="${qsession.numberOfRemainingQuestions}"/> question(s) remaining.)<br/>
(<span th:text="${questionandsize.size}"/> <span th:text="#{questionsession.answer.expected}"/>)<br/>

<form action="#" th:action="@{/ui/user/session/{id}/question(id = ${qsession.id})}" th:object="${questionandanswer}" method="post">
        <div class="form-group">
        <label th:text="#{questionsession.answer}">Answer:</label>

        <th:block th:each="item, itemStat : *{answerList}">
            <p><input th:field="*{answerList[__${itemStat.index}__]}" class="form-"/></p>
        </th:block>
        </div>
        <input type="submit" value="Submit" class="btn btn-dark"/>
        <input type="reset" value="Reset" class="btn btn-danger"/>
</form>
</body>
</html>